html {
  font-family:
    var(--s2-font-family-sans, adobe-clean-spectrum-vf), adobe-clean-variable,
    adobe-clean, ui-sans-serif, system-ui, sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
